form {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    margin-top: 2rem;
}

input {
    width: 20%;
    height: 35px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
}

input:focus {
    border: 2px solid rgba(0, 206, 158, 1);
}

textarea {
    max-width: 100%;
    min-width: 40%;
    width: 40%;
    max-height: 100px;
    min-height: 100px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
}

textarea:focus {
    border: 2px solid rgba(0, 206, 158, 1);
}

label {
    margin-top: 1rem;
}

input[type="submit"] {
    margin-top: 2rem;
    border: none;
    height: 50px;
    width: 175px;
    transition: all;
    transition-duration: 250ms;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(249, 105, 14);
    color: white;
    border-radius: 9999px;
    box-shadow: -5px -5px 10px rgb(137, 63, 114), 5px 5px 10px rgb(173, 21, 203);
    transition: east-out 0.3s;
    outline: none;
}

.neu-btn:hover {
    box-shadow: inset 175px 0 0 0 #4ce241;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
